<section class="">
    <div class="videos_section">
      <div class="row withoutmarg">
        <div class="col-md-6 withoutpadd">
          <div class="box_padd">
            <h3>Nuestro videos <span class="label label-default">New</span></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="col-md-6 withoutpadd">
              <div class="" >
                <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                  <div class="border_frame">
                  </div>
                  <div class="cartagena_background"></div>
                </a>
                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg " style="background: rgba(0, 0, 0, 0.64);" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg vide_modal" role="document">
                    <div class="modal-content modal_view">
                      <div class="modal-header modal_header_custom">
                          <button type="button" class="close close_custom" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <iframe class="video_frame" src="https://www.youtube.com/embed/R2zrkE7pFMs?" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</section>
