<section class="admin_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/logo/logo1.png" class="img-responsive" alt="Responsive image">
        <form class="" action="index.html" method="post">
          <div class="form-group">
             <label for="text">Email or Nickname</label>
             <input type="text" class="form-control" placeholder="email">
           </div>
           <div class="form-group">
              <label for="text">password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
