<div id="Header">
<div class="wrapper">
	<h1>SadCamBoys</h1>
	</div>
</div>
<div id="Content" class="wrapper">
<div class="countdown styled"></div>
<div class="title_soon">
	<h2 class="intro">Coming Soon!</h2>
</div>
<div id="subscribe">
	<!--<form>
		<p><input name="" placeholder="Registra tu correo" value="" type="text" id=""/>
		<input type="button" onclick="sendmail();" value="Enviar"/></p>
	</form> -->
	<div id="socialIcons">
		<ul>
			<li><a href="" title="Instagram" class="fa fa-instagram fa-5x"></a></li>
		</ul>
	</div>
</div>
<span class="tempBy">by: <a href="" alt="webthemez">Dog's Creed</a></span>
</div>

<div id="overlay"></div>
