{{> block/header }}
<div class="carrouse_store">
  <section class="store_section">
    <div class="container">
      <h1 class="tile_Store">Store</h1>
      <span class="subline"></span>
    </div>
  </section>
</div>
<section class="section_block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 padd">
        <ul class="block_list">
          <li><a href="#">T-Shirt</a></li>
          <li><a href="#">Hoodies</a></li>
          <li><a href="#">Jacket</a></li>
          <li><a href="#">Season</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfixed">

    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example2.jpg" alt="...">
        </a>
        <p>
          <h4>Tshirt Black</h4>
          <span>$42.00</span>

        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example3.jpg" alt="...">
        </a>
        <p>
          <h4>Dog Tshirt Black</h4>
          <span>$22.00</span>

        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example4.jpg" alt="...">
        </a>
        <p>
          <h4>Panda Tshirt</h4>
          <span>$32.00</span>
        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example4.jpg" alt="...">
        </a>
        <p>
          <h4>Panda Tshirt</h4>
          <span>$32.00</span>
        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example2.jpg" alt="...">
        </a>
        <p>
          <h4>Tshirt Black</h4>
          <span>$42.00</span>

        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4" style="text-align:center;">
        <a href="#" class="thumbnail">
          <img src="/img/store/example3.jpg" alt="...">
        </a>
        <p>
          <h4>Dog Tshirt Black</h4>
          <span>$22.00</span>

        </p>
        <p>
          <a class="btn btn-default" href="#" role="button">Buy Now</a>
        </p>
      </div>
    </div>
  </div>
</section>
