.bck_main{
  background-image: url(/img/bck1.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 1024px;
  z-index: -1;
}

/* navbar */
.nav_title{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: white;
}
.nav_title:focus{
  color: white;
}
.nav_title:hover{
  color: white;
  background-color: transparent !important;
  border-bottom: 1px solid #00bcd4;
  border-width: 2px;
}
.navbar-collapse{
  padding-top: 10px;
}

/* content index */
.content_main{
  padding-top: 100px;
}
.main_title{
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  color: white;
}
.paragraph{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: white;
}
.btn_bck{
  text-align: center;
  padding-top: 30px;
}
.btn_drink{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-radius: 50px;
}
/* coffee */
.bck_coffee  {
  background-image: url(/img/coffee.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 1024px;
  z-index: -1;
}
.h2_title{
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: white;
}
.register label{
  color: white;
  font-family: 'Lato', sans-serif;

}
