.navbar_main{
  min-height: 75px;
  margin-bottom: 0;
}
.collapse_main{
  padding-top: 10px;
}
.navbar_brand_main{
  padding-top: 28px;
}
/* footer */
.footer_main{
  padding-top: 60px;
  padding-bottom: 30px;
  background: #333;
}
.footer_main h3{
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}
.footer_main p{
  color: #D3D3D3;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.footer_main ul{
  padding-left: 10px;
}
.footer_main ul li{
  padding-bottom: 10px;
  font-size: 14px;
}
.footer_main ul li a{
  color: white;
  list-style: none;
}
.footer_main ul li a:hover{
  text-decoration: none;
  color: #D3D3D3;
}
.authors_promotion{
  width: 100%;
  height: 50px;
  background: #242424;
}
.authors_promotion span{
  color: #acacac;
  line-height: 52px;
}
/* modal */
.vide_modal{
  width: 720px;
}
.modal_view{
  background: transparent;
  box-shadow:none;
  border: 0;
}
.video_frame{
  width: 100%;
  min-height: 480px;
}
.close_custom{
  font-size: 50px;
  opacity: 1;
  color: white;
}
.modal_header_custom{
  padding: 0;
}
.box_padd{
  padding: 5% 5% 5% 15%;
}
/* Banner */
.banner_section{
    background: #222;
    text-align: center;

}
.container_padd{
  padding-top: 40px;
  padding-bottom: 40px;
}
.banner_section .main_title{
  color: white;
  font-size: 36px;
  letter-spacing: -1.5px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner_section .main_title::before{
  display: inline-block;
  width: 50px;
  height: 1px;
  content: '';
  vertical-align: middle;
  background: rgba(255,255,255,0.5);
  margin-right: 10px;
}
.banner_section .main_title::after{
      margin-left: 10px;
      display: inline-block;
      width: 50px;
      height: 1px;
      content: '';
      vertical-align: middle;
      background: rgba(255,255,255,0.5);
}
.banner_section .sub_title{
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.dotok{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
}
/* Mercancia */
.merca_bloque{
  background: #4169E1;
}
