{{> block/header }}
<div class="documentacion_bck_oac"></div>
<div class="content_documentacion">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Compilador OAC</h2>
        <hr class="barra_title">
      </div>
    </div>
  </div>
</div>
<div class="oac">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Realizar compilacion</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre del Archivo</label>
            <input type="text" class="form-control" value="" placeholder="txtDogs" id="titulo">
          </div>
          <div class="form-group">
            <h5>ADD SUB OR AND JMP BRA JR SPC R0 R1 R2 R3 R12 R14</h5>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Assembler Code</label>
            <textarea class="form-control" rows="8" id="content"></textarea>
          </div>
          <button id="guardar" onclick="compilar();" class="btn btn-info">Guardar en txt</button>
      </div>
      <div class="col-md-6">
        <h1 id="programa"></h1>
        <pre id="result"></pre>
      </div>
    </div>
  </div>
</div>






{{> block/footer}}
