<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/bck2.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

</div>
