<div class="footer_main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>NAVEGACIÓN</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Mercancia</a></li>
          <li><a href="#">Diseño y videos</a></li>
        </ul>
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <h3>Mensaje de inspiracion</h3>
        <p>
          "Lorem ipsum dolor sit amet, consectetur
           adipisicing elit, sed do eiusmod tempor
           incididunt ut labore et dolore magna aliqua."
        </p>
      </div>
      <div class="col-md-3">
        <h3>Contacto rapido</h3>
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <input type="submit" name="" class="btn btn-info" value="Enviar">
        </form>
      </div>
    </div>
  </div>
</div>
<section class="authors_promotion">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>© 2017 All Rights Reserved by Dogs Creed.</span>
      </div>
    </div>
  </div>
</section>
